In [1]:
import numpy as np
import pandas as pd
import shapefile

In [2]:
shp_path = "box_anno_0329.shp"

In [3]:
shp = shapefile.Reader(shp_path)

In [4]:
for i, shape in enumerate(shp.shapes()):
    coord_np = np.asarray(shape.points)

    x0, y0 = coord_np[0,0], coord_np[0,1]
    x1, y1 = coord_np[1,0], coord_np[1,1]
    x2, y2 = coord_np[2,0], coord_np[2,1]

    l1 = np.sqrt( (x0 - x1)**2 + (y0 - y1)**2 )
    l2 = np.sqrt( (x1 - x2)**2 + (y1 - y2)**2 )

    idx = shp.records()[i][0]
    print(idx, l1, l2)
    break

960 0.12356920388168038 0.09038852685723497

In [5]:
out = pd.DataFrame(columns=["id", "long(cm)", "short(cm)"])

for i, shape in enumerate(shp.shapes()):
    coord_np = np.asarray(shape.points)

    x0, y0 = coord_np[0,0], coord_np[0,1]
    x1, y1 = coord_np[1,0], coord_np[1,1]
    x2, y2 = coord_np[2,0], coord_np[2,1]

    l1 = np.sqrt( (x0 - x1)**2 + (y0 - y1)**2 )
    l2 = np.sqrt( (x1 - x2)**2 + (y1 - y2)**2 )

    idx = shp.records()[i][0]

    out.loc[len(out), :] = [idx, max(l1, l2)*100, min(l1, l2)*100]

In [6]:
out

         id   long(cm)  short(cm)
0       960   12.35692   9.038853
1       961   9.198583   7.884953
2       962   9.854054   8.390424
3      1096  12.178807  11.345344
4      1097  12.714393  11.752785
...     ...        ...        ...
2853   9814  10.382274  10.130861
2854   9953  12.588504  11.904059
2855   9954  11.446384  11.024412
2856  10094  13.552437  13.046268
2857  10095  11.980825  11.672977

[2858 rows x 3 columns]

In [7]:
out.to_csv("box_anno_0319.csv", index=False)